/* -- custom css for file index.html -- */

/* -- fa tooltip-init f7-icons -- */
#obj-96223 {
	font-size: 25px;
}

/* -- col button firebase-action-button btn-firebase-filter -- */
#obj-63102 {
	font-size: 11px;
}

/* -- col button firebase-action-button btn-firebase-filter -- */
#obj-47796 {
	font-size: 11px;
}

/* -- col button firebase-action-button btn-firebase-filter -- */
#obj-95964 {
	font-size: 11px;
}

/* -- row pb-1 -- */
#obj-26653 {
	border-bottom-style: solid;
	 border-bottom-color: rgb(232, 233, 233);
	 border-width: 0px 0px 1px;
}

/* -- embed-responsive-item -- */
#img-obj-15537 {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

/* -- firebase-field font-weight-bold ml-2 mt-1 -- */
#obj-43046 {
	font-size: 17px;
}

/* -- col button firebase-action-button btn-firebase-delete -- */
#obj-51318 {
	font-size: 10px;
}

/* -- col button firebase-action-button ml-1 btn-firebase-page -- */
#obj-85377 {
	font-size: 10px;
}

/* -- col button firebase-action-button ml-1 btn-firebase-page -- */
#obj-63861 {
	font-size: 10px;
}

